# Token do bot Discord
DISCORD_TOKEN=your_discord_token_here

# Configurações do Firebase
FIREBASE_CREDENTIALS_PATH=path_to_your_firebase_credentials.json
FIREBASE_DATABASE_URL=your_firebase_database_url_here 